#app {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

strong {
    font-weight: 700;
}

.inline-link {
    color: #cb0334;
    text-decoration: none;
}

.nav-list {
    list-style: none;
    padding: 8px;
    background-color: #dceeff;
}

.nav-list__item {
    display: inline;
    color: black;
    padding: 0 10px 10px 0;
}

.nav-link {
    color: black;
    font-weight: bold;
}

.nav-link.active {
    color: #9F042B;
}
